<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vue Course</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="monsterSlayer.css" />
    <!-- <link rel="stylesheet" href="index.css" /> -->
  </head>
  <body>
    <!-- <div id="app">
      <input type="text" v-on:input="changeTitle" />
      <p>{{ title }}</p>
    </div> -->
    <!-- <div id="exercise1"> -->
    <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
    <!-- <p>VueJS is pretty cool - {{ name }} {{ age }}</p> -->
    <!-- 2) Output your age, multiplied by 3 -->
    <!-- <p>{{ tripsAge() }}</p> -->
    <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
    <!-- <p>{{ numRando() }}</p> -->
    <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
    <!-- <div>
        <img style="width:100px;height:100px" v-bind:src="vueImgSrc" />
      </div> -->
    <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
    <!-- <div>
        <input :value="name" type="text" />
      </div>
    </div> -->
    <!-- <div id="app2">
      <button v-on:click="increase(2, $event)">Click me</button>
      <p>{{ counter }}</p>
      <p>{{ target }}</p>
    </div> -->

    <!-- <div id="exercise2"> -->
    <!-- 1) Show an alert when the Button gets clicked -->
    <!-- <div>
        <button v-on:click="showAlert">Show Alert</button>
      </div> -->
    <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
    <!-- <div>
        <input v-on:keydown="keyValue = $event.target.value" type="text" />
        <p>{{ keyValue }}</p>
      </div> -->
    <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
    <!-- <div>
        <input v-on:keydown.enter="updateValue" type="text" />
        <p>{{ keyValue }}</p>
      </div>
    </div> -->
    <!-- <div id="app">
      <button @click="counter++">Increase</button>
      <button v-on:click="counter--">Decrease</button>
      <button v-on:click="secondCounter++">Increase Second</button>
      <p>Counter: {{ counter }} | {{ secondCounter }}</p>
      <p>Result: {{ result() }} | {{ output }}</p>
      <a :href="link">Google</a>
    </div> -->
    <!-- <div id="exercise3"> -->
    <!-- 1) Show a "result" of 'not there yet' as long as "value" is not equal to 37 - you can change "value" with the buttons. Print 'done' once you did it -->
    <!-- <div>
        <p>Current Value: {{ ex3Value }}</p>
        <button @click="ex3Value += 5">Add 5</button>
        <button @click="ex3Value += 1">Add 1</button>
        <p>{{ result }}</p>
      </div> -->
    <!-- 2) Watch for changes in the "result" and reset the "value" after 5 seconds (hint: setTimeout(..., 5000) -->
    <!-- <div>
        <input type="text" />
        <p>{{ ex3Value }}</p>
      </div> -->
    <!-- </div> -->
    <!-- <div id="app">
      <div
        class="demo"
        @click="attachRed = !attachRed"
        :class="divClasses"
      ></div>
      <div class="demo" :class="{red: attachRed}"></div>
      <div class="demo" :class="[color, {red: attachRed}]"></div>
      <div class="demo" :style="{backgroundColor: color}"></div>
      <div class="demo" :style="myStyles"></div>
      <hr />
      <input type="text" v-model="colorAndWidth.color" />
      <input type="text" v-model="colorAndWidth.width" />
    </div> -->
    <!-- <div id="exercise4"> -->
    <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
    <!-- <div>
        <button @click="startEffect">Start Effect</button>
        <div id="effect" v-bind:class="effectClasses"></div>
      </div> -->
    <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
    <!-- <div v-bind:class="[float, 'blue', 'text-color']">I got no class :(</div> -->
    <!-- 3) Let the user enter a class (create some example classes) and attach it -->
    <!-- <div>
        <input type="text" v-model="userClass" />
        <div v-bind:class="[{visible: true}, userClass]"></div>
      </div> -->
    <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
    <!-- <div>
        <input type="text" v-model="userClass" />
        <input type="text" v-model="isVisible" />
        <div v-bind:class="[{visible: isVisible}, userClass]"></div>
      </div> -->
    <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
    <!-- <div>
        <input type="text" v-model="myStyle.backgroundColor" />
        <div v-bind:style="myStyle"></div>
      </div> -->
    <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
    <!-- <div>
        <button v-on:click="startProgress">Start Progress</button>
        <div v-bind:class="['progress-bar']" v-bind:style="progressBar"></div>
      </div>
    </div> -->
    <!-- <div id="app">
      <p v-if="show">You can see me!</p>
      <p v-else>Now you see me.</p>
      <template v-if="show">
        <h1>Heading</h1>
        <p>
          Inside the template
        </p>
      </template>
      <p v-show="show">Do you also see me?</p>
      <button @click="show = !show">Switch</button>
    </div> -->
    <!-- <div id="app">
      <ul>
        <li v-for="(ingredient, i) in ingredients" :key="ingredient">
          {{ ingredient }} ({{ i + 1 }})
        </li>
      </ul>
      <ul>
        <hr />
        <ul>
          <li v-for="person in persons">
            <div v-for="(value, key, index) in person">
              {{ key }}: {{ value }}({{ index + 1 }})
            </div>
          </li>
        </ul>
        <hr />
        <p v-for="n in 10">{{ n }}</p>
        <template v-for="(ingredient, index) in ingredients">
          <h3>
            {{ ingredient }}
          </h3>
          <p>({{ index + 1 }})</p>
        </template>
      </ul>
    </div> -->
    <!-- <div id="exercise5"> -->
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <!-- <div>
        <button @click="show = !show">Toggle</button>
        <p v-if="show">You either see me ...</p>
        <p v-if="!show">...or me</p>
        <p v-show="show">You either see me ...</p>
        <p v-if="!show">...or me</p>
      </div> -->
    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <!-- <ul>
        <li v-for="(n, i) in 5">{{ n }}:{{ i }}</li>
      </ul> -->
    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <!-- <ul>
        <li v-for="(value, key) in myObject">{{ key }}: {{ value }}</li>
      </ul> -->
    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <!-- <ul>
        <li v-for="value in testData">
          <template v-if="Array.isArray(value)">
            <div v-for="element in value">{‌{ element }}</div>
          </template>
          <template v-else>
            {‌{ value }}
          </template>
        </li>
      </ul> -->
    <!-- </div> -->
    <div id="monsterSlayer">
      <section class="row">
        <div class="small-6 columns">
          <h1 class="text-center">YOU</h1>
          <div class="healthbar">
            <div
              class="healthbar text-center"
              style="background-color: green; margin: 0; color: white;"
              :style="{width: playerHealth + '%'}"
            >
              {{ playerHealth }}
            </div>
          </div>
        </div>
        <div class="small-6 columns">
          <h1 class="text-center">MONSTER</h1>
          <div class="healthbar">
            <div
              class="healthbar text-center"
              style="background-color: green; margin: 0; color: white;"
              :style="{width: monsterHealth + '%'}"
            >
              {{ monsterHealth }}
            </div>
          </div>
        </div>
      </section>
      <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
          <button id="start-game" @click="startNewGame">START NEW GAME</button>
        </div>
      </section>
      <section class="row controls" v-else>
        <div class="small-12 columns">
          <button id="attack" @click="normalPlayerAttack">ATTACK</button>
          <button id="special-attack" @click="specialPlayerAttack">
            SPECIAL ATTACK
          </button>
          <button id="heal" @click="heal">HEAL</button>
          <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
      </section>
      <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
          <ul>
            <li v-for="turn in turns">{{ turn.player }}</li>
          </ul>
        </div>
      </section>
      <script src="monsterSlayer.js"></script>
    </div>

    <script>
      // new Vue({
      //   el: "#firstProject",
      //   data: {
      // name: "Mike",
      // age: 39,
      // vueImgSrc:
      //   "https://miro.medium.com/max/1051/1*vFC8tDUGLlXIiqT7ymf3xg.png",
      // counter: 0,
      // target: null,
      // keyValue: "",
      // link: "https://www.google.com",
      // secondCounter: 0,
      // ex3Value: 0,
      // attachRed: false,
      // color: "green",
      // effectClasses: {
      //   highlight: false,
      //   shrink: true
      // },
      // float: "float",
      // userClass: "",
      // isVisible: true,
      // myStyle: {
      //   width: "100px",
      //   height: "150px",
      //   backgroundColor: "gray"
      // },
      // progressBar: {
      //   width: "0px",
      //   backgroundColor: "red"
      // }
      // show: true
      // ingredients: ["meat", "fruit", "cookies"],
      // persons: [
      //   { name: "Max", age: 27, color: "red" },
      //   { name: "Anna", age: "unknown", color: "blue" }
      // ],
      // show: true,
      // array: ["Max", "Anna", "Chris", "Manu"],
      // myObject: {
      //   title: "Lord of the Rings",
      //   author: "J.R.R. Tolkiens",
      //   books: "3"
      // },
      // testData: {
      //   name: "TESTOBJECT",
      //   id: 10,
      //   data: [1.67, 1.33, 0.98, 2.21]
      // }
      // },
      // computed: {
      // output() {
      //   return this.counter > 5 ? "Greater than 5" : "Less than 5";
      // },
      // result() {
      //   return this.ex3Value === 37 ? "Done" : "Not there yet";
      // },
      // divClasses() {
      //   return {
      //     red: this.attachRed,
      //     blue: !this.attachRed
      //   };
      // },
      // myStyles() {
      //   return {
      //     backgroundColor: this.colorAndWidth.color,
      //     width: this.colorAndWidth.width + "px"
      //   };
      // }
      // },
      // watch: {
      // counter: function(value) {
      //   var me = this;
      //   setTimeout(function() {
      //     me.counter = 0;
      //   }, 2000);
      // },
      // result: function(value) {
      //   var me = this;
      //   setTimeout(() => {
      //     me.ex3Value = 0;
      //   }, 5000);
      // }
      // },
      // methods: {
      // changeTitle: function(e) {
      //   this.title = e.target.value;
      // },
      // tripsAge: function() {
      //   return this.age * 3;
      // },
      // numRando: function() {
      //   return Math.random();
      // },
      // increase: function(num, e) {
      //   this.counter += num;
      //   this.target = e.target;
      // },
      // showAlert: function() {
      //   alert("Clicked!");
      // },
      // updateValue(e) {
      //   this.keyValue = e.target.value;
      // },
      // result() {
      //   return this.counter > 5 ? "Greater than 5" : "Less than 5";
      // },
      // startEffect: function() {
      //   var vm = this;
      //   setInterval(function() {
      //     vm.effectClasses.highlight = !vm.effectClasses.highlight;
      //     vm.effectClasses.shrink = !vm.effectClasses.shrink;
      //   }, 1000);
      // },
      // startProgress: function() {
      //   var vm = this;
      //   var width = 0;
      //   setInterval(function() {
      //     width = width + 10;
      //     vm.progressBar.width = width + "px";
      //   }, 500);
      // }
      //   }
      // });
    </script>
  </body>
</html>
